
#links {
    max-height: 100px;
    padding-top: 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #FF0000;
    color: white;
}

.fa-instagram {
    background: #FF0000;
    color: white;
}


#mainNavbar {
    background-color: #0099FF;
}

.headerImageBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#headerImage {
    height: 400px;
    max-height: 400px;
    overflow: hidden;
    opacity: 0.8
}

#headerBelowNavBar {
    height: 300px;
    padding: 100px;
}

#sideMenu {
    padding-top:70px;
    z-index:-10;
}

#contents {
}